<%- include("includes/head") %> 
<img src="/System-users.svg" alt="users">
<h1>Hello</h1>
<a href="/employees/add" class="btn btn-primary">Add employee</a>
<a href="/employees/view" class="btn btn-warning">View employee</a>
<%- include("includes/tail") %> 
